{% extends 'base.html' %}
{% block title %}Sample Library{% endblock %}

{% block body %}
    <h1>Create an Account</h1>

    <div>

        <form class="form" action="/create_acc" method="POST">
            <p>
                Username <input class="input" type="text" name="username">
            </p>
            <p>
                Password <input class="input" type="password" name="password">
            </p>
            <p>
                <button class="login" type="submit">Create User</button>
            </p>
        </form>
    </div>
    <h2>Already have an account?</h2>
    <a href="/login">Log In</a>
{% endblock %}