{% extends 'base.html' %}
{% block title %}Sample Library{% endblock %}

{% block body %}
    <h1>Create an Account</h1>

    <div>

        <form action="/create_acc.html" method="POST">
            <p>
                Username <input type="text" name="username">
            </p>
            <p>
                Password <input type="password" name="password">
            </p>
            <p>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit">Create User</button>
            </p>
        </form>
    </div>
    <h2>Already have an account?</h2>
    <a href="/login.html">Log In</a>
{% endblock %}