{% extends 'base.html' %}
{% block title %}Sample Library{% endblock %}

{% block body %}
    <h1>Create an Account</h1>

    <div>
        <h2>Log In</h2>
        <form action="/users" method="POST">
            <p>
                Username <input type="text" name="username">
            </p>
            <p>
                Password <input type="password" name="password">
            </p>
            <p>
                <button type="submit">Create User</button>
            </p>
        </form>
    </div>
    <h2>Already have an account?</h2>
    <button href="/login.html">Log In</button>

{% endblock %}