{% extends 'base.html' %}
{% block title %}Sample Library Home{% endblock %}

{% block body %}
    <h1 class="heading">Sample Library Home</h1>

    <h3>Navigation</h3>
    <ul>
        <li class="navbar btn"><a href="/samples">View samples</a></li>
        <li class="navbar btn"><a href="/users">View all users</a></li>
        <li class="navbar btn"><a href="/profile">View Your Profile</a></li>
        <li class="navbar btn"><a href="/add_sample">Upload Sample</a></li>
        <li class="navbar btn"><a href="/login">Log Out</a></li>

    </ul>
{% endblock %}